/*
Blue Dark template 
PUG TURNONET 
*/

.header-bg {
    background-color: #0800FC !important;
}

.bg-orange {
    background-color: #0800FC !important;
}

.footer-bg {
    background-color: #0800FC !important;
}

.text-primary {
    color: #0800FC !important
}

.text-primary-pug {
    color: #0800FC !important
}

.btn-turno {
    background-color: #0800FC !important;
}

.h3-primary {
    color: #0800FC !important;
}

ul li {
    border: 0px !important;
    line-height: 0.5;
    background-color: #0800FC !important;
}

.btn-turno {
    background-color: #ffff !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-turno:hover {
    background-color: #cecece !important;
}

.btn-turno2 {
    background-color: #0800FC !important;
    color: white !important;
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}